/*
 * UTK COLORS!
 * Tennessee Orange: #ff8200
 * White: #fff;
 * Smokey Gray: #4b4b4b
 *
 */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Navigation Bar */
.navbar {
    background: #4b4b4b;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    z-index: 1;
    width: 100%;
    max-width: 1600px;
    margin: 0;
    padding: 0 20px;
}

#navbar__logo {
    background-color: #ff8200;
    background-image: linear-gradient(to top, #fff 0%, #ff8200 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: left;
    text-decoration: none;
    font-size: 2rem;
}

#nav__img {
    margin-right: 0.5rem;
    height: 10%;
    width: 10%;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-left: auto;
    padding: 0;
}

.navbar__item {
    height: 80px;
    margin: 0 15px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0;
    height: 100%;
    font-size: 1.5rem;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    font-size: 1.5rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #ff8200;
    color: #fff;
}

.button:hover {
    background: #141414;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #ff8200;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        justify-content: space-between;
        height: 50px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    #nav__img {
        display: flex;
        margin-left: 1rem;
        width: 10%;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Questionnaire */
.schedules {
    background-image: linear-gradient(to top, #fff 0%, #ff8200);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.schedules__container {
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
}

#success-message {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: #e7f9e7; /* Light green background */
}