/*
 * UTK COLORS!
 * Tennessee Orange: #ff8200
 * White: #fff;
 * Smokey Gray: #4b4b4b
 *
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*:focus {
    outline: none;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #ff8200, #ffffff);
    font-family: sans-serif;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4b4b4b;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-size: 32px;
}

.form {
    width: 400px;
    height: auto;
    color: #000000;
    /* background-color: rgba(255, 255, 255, 0.9); */
    font-family: sans-serif;
}
.heading {
    opacity: 1;
    text-align: center;
    font-size: 75px;
    font-weight: 500;
    margin-bottom: 50px;
}

input, .submit-button {
    opacity: 1;
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    color: #000000;
    padding: 15px;
    transition: 0.5s;
}

input:focus, .submit-button:hover {
    background: #ffffff;
    color: #000000;
}

.submit-button {
    opacity: 1;
    width: auto;
    padding: 0 20px;
    background-color: #ff8200;
    cursor: pointer;
    margin: 50px auto 0;
}

.link {
    opacity: 1;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    display: block;
    margin: 30px auto;
}
.link:hover {
    color: #ffffff;
}

.alert-box {
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgb(50, 50, 200);
    border-top: 10px solid rgb(20, 20, 125);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
    transition: 0.5s ease-in-out;
}

.alert-box.show {
    bottom: 15%;
}


/* Navigation Bar */
.navbar {
    background: #4b4b4b;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

#navbar__logo {
    background-color: #ff8200;
    background-image: linear-gradient(to top, #fff 0%, #ff8200 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2rem;
}

#nav__img {
    margin-right: 0.5rem;
    height: 10%;
    width: 10%;
}

/* Main Welcome Section */
.welcome {
    background-image: linear-gradient(to top, #fff 0%, #ff8200);
}

.welcome__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.welcome__content h1 {
    font-size: 3rem;
}

.welcome__content h2 {
    font-size: 2rem;
}

.welcome__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
}

.welcome__btn {
    font-size: 1rem;
    background-color: #ff8200;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color:#4b4b4b;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.welcome__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.welcome__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4b4b4b;
    transition: all 0.35s;
    border-radius: 4px;
}

.welcome__btn:hover {
    color: #fff;
}

.welcome__btn:hover:after  {
    width: 100%;
}

.welcome__img--container {
    text-align: center;
}

#selection__img {
    height: 100%;
    width: 100%;
}

.about {
    background-image: linear-gradient(to bottom, #fff 0%, #ff8200);
}

.about__container {
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.about__content h1 {
    font-size: 3rem;
    text-align: center;
}

.about__content p {
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}
