{% extends "base.html" %}

{% block title %}
    Class Search
{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="heading">Class Search</h1>

            <input type="hidden" name="schedule_id" value="{{ schedule_id }}">

            <!-- Search Form -->
            <form method="GET" action="{{ url_for('views.class_search', schedule_id=schedule_id) }}">
                <div class="form-group">
                    <input type="text" name="search" placeholder="Search by class name" class="form-control" required>
                </div>
                <button type="temp">Search</button>
            </form>
        
        <!-- Search Results -->
        {% if classes %}
            <h2 class="mt-4">Section Options for {{ classes[0].abbreviation }}{{ classes[0].number }}:</h2>
            <ul class="list-group-flush" id="classes">
                {% for class in classes %}
                    <div class="course-item">
                        <p>
                            <span>Lecture: {{ class.lecture_days }} at {{ class.lecture_time }} in {{ class.lecture_location }}</span>
                                {% if class.lab_time %}
                                    <span> | Lab: {{ class.lab_days }} at {{ class.lab_time }} in {{ class.lab_location }}</span>
                                {% endif %}
                        </p>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        
        <a href="{{ url_for('views.view_schedule', schedule_id=schedule_id) }}" class="return-button">Return to Schedule</a>

    </div>
{% endblock %}
