<!-- Main page that can only be accessed after logging in-->

{% extends "base.html" %}

{% block title %}
    UTK CSA
{% endblock %}

{% block content %}
    <div class="content">
        <div class="schedule-container">
            <h1 class="heading">My Schedules</h1>
            <div class="main-container">
                {% for schedule in user.schedules %}
                <div class="schedule-card">
                    <h2>My Schedule {{ loop.index }}</h2>
                    <p>Date: {{ schedule.date.strftime('%Y-%m-%d') }}</p>
                    <div class="actions">
                        <a href="{{ url_for('views.view_schedule', schedule_id=schedule.id) }}" class="view-button">
                            View
                        </a>
                        <button class="delete-button" onclick="deleteSchedule({{ schedule.id }})">
                            Delete
                        </button>
                    </div>
                </div>
                {% endfor %}
                <!-- Generate New Schedule -->
                <div class="schedule-card new-schedule">
                    <h2>Generate a New Schedule</h2>
                    <a href="/new_schedule" class="generate-button">Create Now</a>
                </div>
                
        </div>
    </div>
    
{% endblock %}
