<!-- Main page that can only be accessed after logging in-->

{% extends "base.html" %}
<title>{% block title %}UTK CSA{% endblock %}</title>

{% block content %}
    <h1 align="center">Schedules</h1>
    <ul class="list-group-flush" id="schedules">
        {% for schedule in user.schedules %}
        <li class="list-group-item">
            {{ schedule.class_ids }}
            <!-- Delete button, uses a separate function to communicate with backend -->
            <button type="button" class="close" onClick="deleteSchedule({{ schedule.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
        {% endfor %}
    </ul>
    <form method="POST">
        <textarea name = "schedule" id="schedule" class="form-control"></textarea>
        <br />
        <div align="center">
            <button type="submit" class="btn btn-primary">Add Schedule</button>
        </div>
    </form>

    <!-- New search for classes button -->
    <button class="class_search"><a href="/class_search">Search Classes</a></button>
    
{% endblock %}
