{% extends "base.html" %}

{% block title %}
    Schedules
{% endblock %}

{% block content %}
    <!-- Questionnaire Section -->
    <div class="schedules">
        <div class="schedules__container">
            <!-- Success message element -->
            <div id="success-message" style="display: none; color: green; margin-top: 20px;">
                Data saved successfully!
            </div>
            <form id="schedules-form" action="/submit" method="post">
                <h1 class="heading">Schedule Questionnaire</h1>
                <h1 class="subheading">Core Classes</h1>
                <!-- Assume MATH 130 has been completed! -->
                <label for="question">What was your most recent core class?</label>
                <select id="question" name="core-class">
                    <option value="N/A">N/A</option>
                    <option value="COSC 101">COSC 101</option>
                    <option value="COSC 102">COSC 102</option>
                    <option value="COSC 202">COSC 202</option>
                    <option value="COSC 302">COSC 302</option>
                    <option value="COSC 360">COSC 360</option>
                    <option value="COSC 401">COSC 401</option>
                </select>
                <br><br>

                <h1 class="subheading">Sequences</h1>
                <label for="question">Which classes have you taken in this sequence?</label><br>
                <select id="question" name="sequence-1">
                    <option value="N/A">N/A</option>
                    <option value="COSC 101">COSC 101</option>
                    <option value="COSC 102">COSC 102</option>
                    <option value="COSC 230">COSC 230</option>
                </select>
                <br><br>

                <label for="question">Which classes have you taken in this EF sequence?</label><br>
                <select id="question" name="sequence-2">
                    <option value="N/A">N/A</option>
                    <option value="EF 151">EF 151</option>
                    <option value="EF 152">EF 152</option>
                </select>
                <br><br>

                <label for="question">Which of these MATH classes have you taken?</label><br>
                <label>MATH 141<input type="checkbox" name="math-credit" value="MATH 141"></label><br>
                <label>MATH 142<input type="checkbox" name="math-credit" value="MATH 142"></label><br>
                <label>MATH 251<input type="checkbox" name="math-credit" value="MATH 251"></label><br>
                <label>ECE 313<input type="checkbox" name="math-credit" value="ECE 313"></label><br>
                <br>

                <label for="question">What was your most recent class in this ENGL sequence?</label>
                <select id="question" name="sequence-3">
                    <option value="N/A">N/A</option>
                    <option value="ENGL 101">ENGL 101</option>
                    <option value="ENGL 102">ENGL 102</option>
                    <option value="ENGL 355">ENGL 355</option>
                </select>
                <br><br>

                <label for="question">What was your most recent class in this CS sequence?</label>
                <select id="question" name="sequence-4">
                    <option value="N/A">N/A</option>
                    <option value="COSC 311">COSC 311</option>
                    <option value="COSC 312">COSC 312</option>
                </select>
                <br><br>

                <label for="question">Which of these CS classes have you taken?</label><br>
                <label>COSC 365<input type="checkbox" name="cs-credit" value="COSC 365"></label><br>
                <label>COSC 366<input type="checkbox" name="cs-credit" value="COSC 366"></label><br>
                <label>COSC 395<input type="checkbox" name="cs-credit" value="COSC 395"></label><br>
                <label>COSC 340<input type="checkbox" name="cs-credit" value="COSC 340"></label><br>
                <br>

                <!-- Convert to Yes or No -->
                <label for="question">If you have taken COSC 361, please check this box.</label><br>
                <label>COSC 361<input type="checkbox" name="cs361-credit" value="COSC 361"></label><br>
                <br><br>

                <h1 class="subheading">Elective Classes</h1>
                <label for="question">What elective credits do you have yet to satisfy? (Select multiple if needed)</label><br>
                <label>Quantitative Reasoning (QR)<input type="checkbox" name="elective-credit" value="QR"></label><br>
                <label>Natural Sciences (NS)<input type="checkbox" name="elective-credit" value="NS"></label><br>
                <label>Written Communication (WC)<input type="checkbox" name="elective-credit" value="WC"></label><br>
                <label>Oral Communication (OC)<input type="checkbox" name="elective-credit" value="OC"></label><br>
                <label>Applied Oral Communication (AOC)<input type="checkbox" name="elective-credit" value="AOC"></label><br>
                <label>Social Sciences (SS)<input type="checkbox" name="elective-credit" value="SS"></label><br>
                <label>Arts and Humanities (AH)<input type="checkbox" name="elective-credit" value="AH"></label><br>
                <label>Global Citizenship International (GCI)<input type="checkbox" name="elective-credit" value="GCI"></label><br>
                <label>Global Citizenship United States (GCUS)<input type="checkbox" name="elective-credit" value="GCUS"></label><br>
                <label>Expanded Perspectives (EP)<input type="checkbox" name="elective-credit" value="EP"></label><br>
                <label>Engaged Inquiries (EI)<input type="checkbox" name="elective-credit" value="EI"></label><br>
                <br><br>
                
                <h1 class="subheading">Credit Hours</h1>
                <label for="question">How many credit hours would you prefer to take this upcoming semester?</label>
                <select id="question" name="credit-hours">
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                </select>
                <br><br>

                <h1 class="subheading">Time of Day Preferences</h1>
                <label for="question">What time would you like your classes to start?</label>
                <select id="question" name="start-time">
                    <option value="0800">8:00</option>
                    <option value="0900">9:00</option>
                    <option value="1000">10:00</option>
                    <option value="1100">11:00</option>
                    <option value="1200">12:00</option>
                </select>
                <br><br><br>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}
