{% extends "base.html" %}

{% block title %}
    Schedules
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/schedules.css') }}">
{% endblock %}

{% block content %}
    <!-- Questionnaire Section -->
    <div class="schedules">
        <div class="schedules__container">
            <!-- Success message element -->
            <div id="success-message" style="display: none; color: green; margin-top: 20px;">
                Data saved successfully!
            </div>
            <form id="schedules-form" action="/submit" method="post">
                <h1 class="heading">Schedule Questionnaire</h1>
                <h1 class="subheading">Core Classes</h1>
                <label for="question">What was your most recent core class?</label>
                <select id="question" name="core-class">
                    <option value="COSC 101">COSC 101</option>
                    <option value="COSC 102">COSC 102</option>
                    <option value="COSC 202">COSC 202</option>
                    <option value="COSC 230">COSC 230</option>
                    <option value="COSC 302">COSC 302</option>
                    <option value="COSC 360">COSC 360</option>
                    <option value="COSC 366">COSC 366</option>
                    <option value="COSC 401">COSC 401</option>
                </select>
                <br><br>

                <h1 class="subheading">Elective Classes</h1>
                <label for="question">What elective credits do you have yet to satisfy? (Select multiple if needed)</label><br>
                <label>Quantitative Reasoning (QR)<input type="checkbox" name="elective-credit" value="QR"></label><br>
                <label>Natural Sciences (NS)<input type="checkbox" name="elective-credit" value="NS"></label><br>
                <label>Written Communication (WC)<input type="checkbox" name="elective-credit" value="WC"></label><br>
                <label>Oral Communication (OC)<input type="checkbox" name="elective-credit" value="OC"></label><br>
                <label>Applied Oral Communication (AOC)<input type="checkbox" name="elective-credit" value="AOC"></label><br>
                <label>Social Sciences (SS)<input type="checkbox" name="elective-credit" value="SS"></label><br>
                <label>Arts and Humanities (AH)<input type="checkbox" name="elective-credit" value="AH"></label><br>
                <label>Global Citizenship International (GCI)<input type="checkbox" name="elective-credit" value="GCI"></label><br>
                <label>Global Citizenship United States (GCUS)<input type="checkbox" name="elective-credit" value="GCUS"></label><br>
                <label>Expanded Perspectives (EP)<input type="checkbox" name="elective-credit" value="EP"></label><br>
                <label>Engaged Inquiries (EI)<input type="checkbox" name="elective-credit" value="EI"></label><br>
                <br><br>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='schedules.js') }}"></script>
{% endblock %}
