{% extends "base.html" %}

{% block title %}
    View Schedule
{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="heading">Schedule Details</h1>

        <p class="created-on"> Created on: {{ schedule.date.strftime('%Y-%m-%d %H:%M:%S') }}</p>

        <div class="course-list">
            {% if courses %}
                {% for course in courses %}
                    <div class="course-item">
                        <div class="lecture">
                            <p>                              
                                <!-- Section Search Button -->
                                <form action="{{ url_for('views.class_search') }}" method="get" style="display: inline;">
                                    <input type="hidden" name="abbreviation" value="{{ course.abbreviation }}">
                                    <input type="hidden" name="number" value="{{ course.number }}">
                                    <input type="hidden" name="schedule_id" value="{{ schedule.id }}">
                                    <input type="hidden" name="class_id" value="{{ course.id }}">

                                    <button title="Find Other Sections" class="section-search-button">
                                        <img src="{{ url_for('static', filename='images/search_img.png') }}" alt="Find Other Sections">
                                    </button>
                                </form>
                                <span><strong>{{ course.abbreviation }} {{ course.number }}</strong></span><br> 
                                <span>{{ course.title }}</span> - 
                                <span>{{ course.credit_hours }} hours</span><br>
                                <span>{{ course.lecture_days }}</span>: 
                                <span>{{ course.lecture_time }}</span>, 
                                <span>{{ course.lecture_location }}</span>
                            </p>
                        </div>
                        
                        {% if course.lab_time != '' %}
                            <div class="lab">
                                <strong>Lab:</strong>
                                <p>
                                    <span>{{ course.lab_days }}</span>: 
                                    <span>{{ course.lab_time }}</span>, 
                                    <span>{{ course.lab_location }}</span>
                                </p>
                            </div>
                        {% endif %}

                    </div>
                {% endfor %}
            {% else %}
                <p>No courses found for this schedule.</p>
            {% endif %}
        </div>

        <a href="{{ url_for('views.main') }}" class="return-button">Back to Schedules</a>
    </div>
{% endblock %}
