<!-- Here we reuse code from base.html, adding new title and page content -->

{% extends "base.html" %}
<title>{% block title %}Login{% endblock %}</title>

{% block content %}
    <div class="alert-box">
        <p class="alert"></p>
    </div>

    <form method="POST">
        <div class="form">
            <h1 class="heading">Login</h1>
            <input type="email" name="email" placeholder="Email" autocomplete="off" class="email" required>
            <input type="password" name="password" placeholder="Password" autocomplete="off" class="password" required>
            <button class="submit-button">Log In</button>
            <a href="/sign_up" class="link">Don't have an account? Register here</a>
        </div>
    </form>
{% endblock %}